// Import page-specific CSS files here.
@import "home";

.card img{
  height: 150px;
  width: 200px;
  border-radius: 58px;
  padding-bottom: 30px;
}

.container{

  justify-content: space-between;
  margin-top: 70px;
}
