@import "home";
@import "index";

#cardProduct{
  width: 100%;
  height: 100%;
  border:2px solid #fff;
  background: url(img/tiger.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

.text-center {
  text-align: center;
}

#btn_back{
  align-items: left;
  padding-bottom: 150px;
}

#title{
  margin-bottom: 50px;
}

#specs{
  font-size: 25px;
  border-radius: 16px;
  padding: 15px 15px;
}
.p-3 {
  padding: 2rem !important;
}

.row{
  align-items: center;
}
.col img {
  height: 250px;
  width: 350px;
  border-radius: 58px;
  padding-bottom: 30px;
}

#product_card img{
  height: 150px;
  width: 200px;
  border-radius: 58px;
  padding-bottom: 30px;
}
