@import "home";

.title-wrapper h3 {
  text-align: left !important;
}

.carousel-img{
  width: 100%;
  max-height: 450px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.show-body-wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 1rem;
}

#cardProduct{
  width: 100%;
  height: 100%;
  border:2px solid #fff;
  background: url(img/tiger.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

.text-center {
  text-align: center;
}

#title{
  margin-bottom: 50px;
}

#specs{
  font-size: 25px;
  border-radius: 16px;
  padding: 15px 15px;
}
.p-3 {
  padding: 2rem !important;
}

.row{
  align-items: center;
}


#product_card img{
  height: 150px;
  width: 200px;
  border-radius: 58px;
  padding-bottom: 30px;
}

.bookingform {
  // border: 2px solid rgb(188, 186, 186);
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  width: 40%;
  margin-right: 2rem;
  box-shadow: 3px 5px #e0e0e0f3;
}

.bookingform h2 {
  text-align: center !important;
}

.btn_form_book{
  display: flex;
  justify-content: center;
}

.details_card {
  // margin-left: 91px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  // border: 2px solid #bcbaba;
  width: 40%;
  padding-top: 20px;
}

.details_card ul {
  padding-right: 20px;
}

.details_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.showcontainer{
  width: 100vw;
  margin-top: 8rem;
}
.computer_img img{
  border-radius: 8px;
}
.secondcontainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.computer_map{
  margin-left: 8rem;
  background: #FDF9FA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  // border: 2px solid #3B0071;
  padding-right: 8px;
}

.container-map {
  width: 100%;
  height: 340px;
  border: 2px solid #bcbaba;
  border-radius: 8px;
}


.name-owner-wrapper {
  display: flex;
  justify-content: start;
}
