<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);" data-navbar-target="banner">
  <div class="container">
    <h1>Computer-Swap allows <strong>you</strong> to rent hardware !</h1>
      <p>Choose your computer depending on your needs of <span data-controller="typed-js"></span></p>
      <%= link_to "Start browsing", computers_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="steps-container">
<div class="card" style="width: 18rem;">
  <h3>Step One</h3>
  <img src="https://images.unsplash.com/photo-1545262841-5283004cef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Choose your computer</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h3>Step Two</h3>
  <img src="https://images.unsplash.com/photo-1545262841-5283004cef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Go and pick it up</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h3>Step Three</h3>
  <img src="https://images.unsplash.com/photo-1545262841-5283004cef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Bring back the device unharmed</p>
  </div>
</div>
</div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quo temporibus amet quia unde magnam sequi explicabo fugit hic labore deserunt architecto distinctio tempore dicta deleniti inventore, fuga accusantium modi facere! Aspernatur voluptatem, exercitationem, veniam quia placeat commodi odit iure cupiditate quidem quaerat repudiandae vitae recusandae nulla praesentium id. Animi accusantium officiis aliquid voluptatum voluptas enim voluptates dolores saepe. Doloremque sit dolore maiores porro. Quisquam, illum corrupti nam in molestiae officia, officiis esse ut autem optio quaerat sunt culpa eveniet consequatur minus mollitia omnis consectetur voluptatibus doloribus fuga saepe temporibus aliquam nulla doloremque! Eligendi mollitia, quos, vel excepturi iste possimus porro nobis beatae voluptatibus voluptas dolorum provident dignissimos illum quam, illo accusantium nemo modi rem hic repellat aut maxime dolor! Totam harum, expedita quidem consequatur aspernatur dolor veritatis ullam facere quis amet maxime, neque exercitationem temporibus, quaerat dignissimos veniam magni eum aut velit aliquam beatae quod nisi. Suscipit amet quidem exercitationem ducimus culpa vero necessitatibus ex. Consequatur explicabo sapiente animi beatae libero magnam iste dolorum, ratione mollitia porro asperiores, atque necessitatibus pariatur fugiat natus! Nesciunt quidem iure explicabo pariatur iusto rem beatae nihil facere dolorem voluptatem. Commodi, laboriosam praesentium. Veritatis est accusamus voluptatum, numquam amet culpa, distinctio maxime consequuntur odio nemo, quisquam beatae blanditiis voluptates soluta. Fugit dolorem unde quaerat dolor sapiente sunt architecto pariatur impedit libero illo natus aut beatae et similique adipisci obcaecati, explicabo quos saepe ipsum incidunt commodi vitae culpa numquam. Totam accusantium, sunt laborum, id error ipsa adipisci voluptatibus laboriosam eos reprehenderit recusandae. Ab recusandae, illum veniam ipsa iusto eos maiores! Recusandae eveniet nesciunt laboriosam soluta vel. Molestiae tenetur doloremque maxime error mollitia eius nostrum commodi incidunt quis earum. Repellendus quisquam harum facere eum aliquam dolore a facilis fugiat dolor odio quod nam architecto suscipit, adipisci ducimus temporibus voluptates optio quo quas consequuntur in? Labore, aliquam! Ea nostrum, cupiditate, maiores magnam quasi eius optio repellat, consequuntur neque in fugit velit. Quia suscipit praesentium, repellat delectus labore quasi, architecto iste sint nulla, id quae placeat! Alias sapiente ipsa facere sit placeat, voluptate quidem dolorum doloremque voluptatem earum quia natus ab et reiciendis voluptates dicta, eos perferendis corrupti hic, animi quod. Quod quisquam fugiat corporis ipsum nostrum facilis blanditiis laborum dolorum aperiam repellat a perspiciatis cumque distinctio rerum, aliquid, id necessitatibus. Mollitia, deserunt eum, architecto eius earum quae, repellendus laborum quam quos aliquid aut dicta quibusdam cumque reiciendis! Ipsa architecto, nisi laudantium earum, numquam qui est placeat porro, error quia aliquam soluta necessitatibus nihil quod magni eaque magnam ratione distinctio itaque voluptatum rerum vero sequi assumenda consequuntur? Enim ipsum unde tempore at aperiam assumenda veniam, impedit repellat autem numquam! Ea delectus, labore obcaecati voluptate neque unde quisquam consequatur eligendi quia vitae facere ipsum, repellat laudantium quasi magni! Iusto eum dolores tenetur officiis commodi magni aliquam doloribus necessitatibus voluptate. Voluptatum rem tempore eaque aut sapiente facilis nostrum, consequatur dolorem blanditiis deserunt animi quaerat corporis libero suscipit quibusdam. Libero blanditiis ea minima, corporis veniam sequi tempore est magni odit eum vel voluptatum omnis consequatur voluptatibus id neque doloremque vero delectus.
