<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);" data-navbar-target="banner">
  <div class="container">
    <h1>Computer-Swap allows <strong>you</strong> to rent hardware !</h1>
      <p>Choose your computer depending on your needs of <span data-controller="typed-js"></span></p>
      <%= link_to "Start browsing", computers_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="steps-container">
<div class="card" style="width: 18rem;">
  <h3>Choose it</h3>
  <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"> Explore our catalog of availabe cmmputers</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h3>Book it</h3>
  <img src="https://res.cloudinary.com/carole-g/image/upload/v1661286242/booking_sb1pii.avif" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"> Book the computer you need, when you need it</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h3>Bring it back</h3>
  <img src="https://images.unsplash.com/photo-1522201949034-507737bce479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"> Bring the computer back to his owner</p>
  </div>
</div>
</div>
