<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="container">
    <h1>Computer-Swap allows <strong>you</strong> to rent hardware !</h1>
      <p>Choose your computer depending on your needs of <span data-controller="typed-js"></span></p>
      <%= link_to "Start browsing", computers_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="steps-container">
<div class="card" style="width: 18rem;">
  <h3>Step One</h3>
  <img src="https://images.unsplash.com/photo-1545262841-5283004cef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Choose your computer</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h3>Step Two</h3>
  <img src="https://images.unsplash.com/photo-1545262841-5283004cef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Go and pick it up</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h3>Step Three</h3>
  <img src="https://images.unsplash.com/photo-1545262841-5283004cef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Bring back the device unharmed</p>
  </div>
</div>
</div>
