.navbar-lewagon {
  justify-content: space-between;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-black {
  background-color: black !important;
}

.navbar-lewagon-transparent {
  background-color: transparent;
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: #670BFF;
}
