// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  padding:15px;
}

.create-form{
  margin-top: 40px;
}

.form-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.form-card{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #e5ddd8;
  width: 50vw;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  box-shadow: 5px 5px #bdafa7;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container a {
  text-decoration: none;
  color: black;
}

.form-control {
  background-color: white;
}

.form-select {
  background-color: white;
}

.form-inputs{
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #e5ddd8;
  background-color: white;
  width: 50vw;
  // background-color: #c2bebc;
  border-radius: 6px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  box-shadow: 1px 5px #e2d1c7;}

form.new_computer {
  width: 100%;
}

.index-container {
  margin-top: 100px;
}
