// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: 'Roboto', sans-serif;
}

.form-container{
  display: flex;
  justify-content: center;
}

.form-card{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #e5ddd8;
  width: 50vw;
  background-color: #FBF3EE;
  border-radius: 6px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  box-shadow: 5px 5px #bdafa7;
}
.create-form{
  margin-top: 40px;
}
.form-container a{
  text-decoration: none;
  color: black;
}
.form-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
form.new_computer{
  width: 100%;
}

.card{
  padding:15px;
}
